a:link
{
  font-type: arial;
  color: #333377;
  font-weight: bold;
  text-decoration: none;
}
a:visited
{
  font-type: arial;
  color: #333377;
  font-weight: bold;
  text-decoration: none;
}
a:hover
{
  font-type: arial;
  color: #773333;
  font-weight: bold;
  text-decoration: underline;
}
a:active
{
  font-type: arial;
  color: #333377;
  font-weight: bold;
  text-decoration: none;
}
h1
{
  font-type: arial;
  text-align: center;
}