/* Standard table 'spreadsheet' style */

/* @todo CSS table.tbl factorization done: clean up HTML code */

table.tbl {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
  background: #9ce;
}

table.tbl th {
  background-color: #888;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  text-align: center;
}

table.tbl td {
  background-color: #fff;
  padding: 2px;
}

/* a 'colorized' table */

table.color {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
}

table.color th {
  background: #888;
  padding: 2px;
  color: #fff;
  border: outset #888 1px;
  font-weight: normal;
  text-align: center;
}

table.color td {
  padding: 2px;
}

table.color td.white {
  background-color: #fff;
}

/* a 'standard' table */

table.std {
  border: solid #8c8 3px;
  background: #eef;
}
table.std th {
  background-color: #888;
  color: #fff;
  border: outset #ccc 1px;
}

table.std td.hilite {
  background-color: #fff;
}

/* Form tables */

table.form {
  width: 100%;
  border-spacing: 1px;
}

table.form th {
  white-space: nowrap;
  background: #eee;
  vertical-align: middle;
  text-align: right;
  font-weight: normal;
  padding: 1px 4px;
}

table.form th.category {
  font-style: italic;
  font-weight: bold;  
  text-align: center;
  background: #aaa;
  border: #aaa 1px outset;
}

table.form td {
  vertical-align: top;
  background: #eee;
  text-align: left;
  padding: 1px 4px;
}

table.form th.mandatory {
  color: #000;
  font-weight: bold;
}

table.form td.readonly input {
  background: #eee;
  border: 1px dotted;
}

table.form td.button {
  text-align: center;
  vertical-align: middle;
}

/* Pane table */

table.main {
  width: 100%;
  border-spacing: 10px;
}

table.main td {
  vertical-align: top;
}

td.greedyPane {
  width: 100%;
}

/* links in header blocks */

a.hdr:link, 
a.hdr:active, 
a.hdr:visited {
  color: #fff;
}

/* tabbed boxes */

td.tabon {
  background: #ccc;
  border: outset #fff 2px;
  border-bottom: none;
}

td.taboff {
  background: #ccc;
  border: solid #ccc 1px;
  border-bottom: 2px;
}

td.tabsp {
  border-bottom: solid #ccc 2px;
}

td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
  border-top: none;
}

/* Message styles */

.warning {
  color: #f00;
}

.error {
  color: #f00;
}

.message {
  color: #888;
}