/* $Id$ */

/* Title block */

table.titleblock td {
  white-space: nowrap;
}

table.titleblock td.titlecell {
  font-family: Georgia, serif;
  font-size: 20px; 
  color: #620;
  width: 100%;
}

/* Bread crumbs block */

table.crumbsblock {
  width: 100%;
}

table.crumbsblock td {
  white-space: nowrap;
}

table.crumbsblock td.crumbscell {
  width: 100%;
}

/* Tab view table */

table.taborflat {
  display: none;
}

table.tabview {
  border-spacing: 0px;
  border-collapse: collapse; /* Hack for IE */
  empty-cells: show;
  width: 100%;
}

table.tabview td {
  padding: 0px;
}

table.tabmenu {
  margin-left: 20px;
  border-spacing: 0px;
}

table.tabmenu td {
  height: 28px;	
}

table.tabmenu td.normal {
  background: url(./images/tabBg.png) repeat-x bottom;
}

table.tabmenu td.normalLeft {
  width: 17px;
  background: url(./images/tabLeft.png) no-repeat bottom right;
}

table.tabmenu td.normalRight {
  width: 17px;
  background: url(./images/tabRight.png) no-repeat bottom left;
}

table.tabmenu td.selected {
  background: url(./images/tabSelectedBg.png) repeat-x;
}

table.tabmenu td.selectedLeft {
  width: 17px;
  background: url(./images/tabSelectedLeft.png) no-repeat bottom right;
}

table.tabmenu td.selectedRight {
  width: 17px;
  background: url(./images/tabSelectedRight.png) no-repeat bottom left;
}
/* Standard table */

table.tbl {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
}

table.tbl th {
  background-color: #888;
  padding: 2px;
  color: #fff;
  border: outset #ccc 1px;
  font-weight: normal;
  text-align: center;
}

table.tbl td {
  background-color: #fff;
  padding: 2px;
}

/* a 'colorized' table */

table.color {
  width: 100%;
  border: 0px;
  border-spacing: 1px;
}

table.color th {
  background: #888;
  padding: 2px;
  color: #fff;
  border: outset #888 1px;
  font-weight: normal;
  text-align: center;
}

table.color td {
  padding: 2px;
}

table.color td.white {
  background-color: #fff;
}

/* a 'standard' table */

table.std {
  border: solid #8c8 3px;
  background: #eef;
}
table.std th {
  background-color: #888;
  color: #fff;
  border: outset #ccc 1px;
}

table.std td.hilite {
  background-color: #fff;
}

/* Form tables */

table.form {
  width: 100%;
  border-spacing: 1px;
}

table.form th {
  white-space: nowrap;
  background: #eee;
  vertical-align: middle;
  text-align: right;
  font-weight: normal;
  padding: 1px 4px;
}

table.form th.category {
  font-style: italic;
  font-weight: bold;  
  text-align: center;
  background: #aaa;
  border: #aaa 1px outset;
}

table.form th.mandatory {
  color: #000;
  font-weight: bold;
}

table.form th.text {
  white-space: normal;
  text-align: center;
  font-style: italic;
}

table.form td {
  white-space: nowrap;
  vertical-align: top;
  background: #eee;
  text-align: left;
  padding: 1px 4px;
}

table.form td.text {
  white-space: normal;
}

table.form td.readonly input {
  background: #eee;
  border: 1px dotted;
}

table.form td.button {
  text-align: center;
  vertical-align: middle;
}

/* Pane table */

table.main {
  width: 100%;
  margin: 4px;
  border-spacing: 10px;
}

table.main td {
  vertical-align: top;
}

table.main td.halfPane {
  width: 50%;
}

td.greedyPane {
  width: 100%;
}

/* links in header blocks */

a.hdr:link, 
a.hdr:active, 
a.hdr:visited {
  color: #fff;
}

/* tabbed boxes */

td.tabox {
  background-color: #ccc;
  border: solid #ccc 2px;
}

/* Message styles */

.warning {
  color: #f00;
}

.error {
  color: #f00;
}

.message {
  color: #888;
}