/* Global header */

#header {
  width: 100%;
  border-spacing: 0px;
  border: none;
}

#header td {
  padding: 0px;
}

/* Banner */

#banner {
  background: url(./images/titleGradient.jpg) no-repeat center;
  vertical-align: middle;
}

#banner p {
  font-family: Georgia, serif;
  font-size: 20px; 
  float: left;
  color: #620;
  margin: 5px 10px 0;
}

#banner a {
  float: right;
}

/* Navigation */

#menubar table {
  border: 1px solid #999;
  background-color: #ccc;
  color: #fff;
  text-align: left;
  width: 100%;
}

#nav {
  vertical-align: middle;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav li {
  display: inline;
  float: left;
}

#nav a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 10pt;
  padding: 3px 4px;
}

#nav a:hover {
  text-decoration: none;
  background: #ddd;
  padding: 2px 3px;
  border: 1px outset #ddd;
}

#nav a:active {
  background: #ddd;
  padding: 2px 3px;
  border: 1px inset #ddd;
}

#nav li.selected a {
  text-decoration: none;
  background: #aaa;
  padding: 2px 3px;
  border: 1px inset #888;
}

#nav img {
  display: block;
  margin: auto;
  width: 48px;
}

  /* ---- Begin Patch for damned IE that never works ---- */
  
  #nav li a {
    width: 1em;
    white-space: nowrap;
  }
  
  #nav li>a {
    width: auto;
  }
  
  /* ---- End patch ---- */

/* Creation */

#new {
  white-space: nowrap;
  text-align: right;
  vertical-align: center;  
}

/* User */

#user table {
  border-spacing: 0px;
  border: 2px;
  width: 100%;
  border-bottom: 1px dashed black;
}

#user td {
  padding: 0 3px;
  
}

#userWelcome {
  width: 100%;
}

#userMenu {
  white-space: nowrap;
}

/* Main -- table -- pane */

#main {
  width: 100%;
  border-spacing: 0px
}