body {
  font-family: Georgia, serifs;
  font-size: 12px;
  background: #ddf;
}

span.hilite {
  background: #f5f;
}

@media screen {
  span.field {
    background: #cce;
  }

  span.value {
    background: #ddd;
  }
}
