#login {
  margin: 100px 0px 0px; 
}

#login form table {
  border: solid #8c8 3px;
  background: #eef;
  margin: auto;
  text-align: center;
  padding: 5px;
}

#poweredBy {
  text-align: center;
  font-size: 8pt;
}